<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	
	<link rel="stylesheet" href="static/styles/main.min.css">
	<script src="static/scripts/main.min.js"></script>
</head>
<body>
	{{{body}}}
</body>
</html>
